.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}

app-slider-menu {
  flex-shrink: 0;
  z-index: 100;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background);
}
