<div class="team-container">
  <div *ngFor="let user of usersWithTasks$ | async" class="team-tile">
    <div class="user-info">
      <img [src]="user.avatar_url" alt="Avatar of {{ user.username }}" class="avatar">
      <div class="user-details">
        <h3 class="username">{{ user.username }}</h3>
        <p class="role">{{ user.role }}</p>
      </div>
    </div>
    <div class="tasks-preview">
      <h4 class="tasks-header">Текущие задачи:</h4>
      <div class="tasks-list">
        <div *ngFor="let task of user.tasks; let i = index" class="task-item">
          <span class="task-index">{{ i + 1 }}.</span>
          <div class="task-details">
            <p class="task-title">{{ task.title }}</p>
          </div>
        </div>
        <p *ngIf="user.tasks.length === 0" class="no-tasks">No tasks assigned</p>
      </div>
    </div>
  </div>
</div>
