<div class="board">
  <div class="board-section" *ngFor="let section of sections$ | async; let i = index">
    <div class="section-title">{{ translateSections(section.status) }}</div>
    <div 
      cdkDropList 
      [cdkDropListData]="section.tasks" 
      [cdkDropListConnectedTo]="connectedLists" 
      class="task-list" 
      (cdkDropListDropped)="drop($event, section)"
      [id]="'list' + i"
    >
    <div *ngFor="let task of section.tasks" (click)="onSelectTask(task)" class="task" cdkDrag>
        <app-task [task]="task"></app-task>
      </div>
    </div>
  </div>
</div>
@if (selectedTask) {
  <app-task-menu [task]="selectedTask" class="task-info" [class.open]="selectedTask" (tasksUpdated)="onTaskUpdated()"></app-task-menu>
}

<app-create-task-modal
  *ngIf="isCreateTaskModalOpen"
  (close)="closeCreateTaskModal()"
  (taskCreated)="onTaskCreated($event)">
</app-create-task-modal>

<button class="floating-button" (click)="openModal()">
    +
</button>